@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html {
    position: relative;
    min-height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x:scroll;
}

body {
   /* margin: 0 0 10px; /* bottom = footer height */
}

body {
    font-family: "adobe-caslon-pro",serif;
    /*font-family: 'adobe-caslon-pro','Questrial','Helvetica Neue',Arial,sans-serif;*/
    background-color: #282828;
    /*color: #d3d3d3;*/
    color: #EEDEC3;
    font-size: 14px;
    webkit-tap-highlight-color: #222;
}

hr {
    /*max-width: 80px;*/
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;

}

a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "adobe-caslon-pro",serif;
    color: #EEDEC3;
    /*font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;*/
}

h6 {
    font-size: 10px;
}
p {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #9c27b0;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}



.no-padding {
    padding: 0;
}

.navbar {
    background-color: #000;
    padding: 5px 0;
    position: relative;
    /* min-height: 50px; */
    margin-bottom: 50px;
    border: 1px solid transparent;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: "adobe-caslon-pro",serif;
    /*font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;*/
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: "adobe-caslon-pro",serif;
    /*font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;*/
    color: #9c27b0;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #9c27b0;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #9c27b0 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}

.header-bar{
    height: 50px;
}

#map_canvas { 
    height: 100% 
}

#shelf {
    position: absolute;
    top: 80px;
    left: 80px;
    height: 150px;
    width: 200px;
    background: black;
    /* opacity: 10; */
    font-size: 13px;
    border: solid 5px #F5E7CA;
    /*border-top: solid 32px #F5E7CA;*/
}

.shelf-title {
    font-size: 11px;
    background: #F5E7CA;
    padding: 5px;
    color: #000;
}

#draggable {
    top: 1px, 
    left:10px;
    width: 42px;
    margin-top: 18px;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #9c27b0;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #9c27b0;
    }
}


header {
    position: relative;
    min-height: auto;
    text-align: center;
    /*color: #fff;*/
    width: 100%;
    background-color: #c9c9c9;
    /*background-image: url('../img/loopA.png');*/
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 3;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#explore-div {
    display:none;
    /*position: absolute;*/
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

.map-header-content {
    position: absolute;
    top: 0px;
    width: 100%;
    /*padding: 100px 15px;*/
    /*text-align: center;*/
    z-index: 0;
    margin: 0;
}

.map-content {
    position: absolute;
    top: -7%;
    width: 100%;
    /*padding: 100px 15px;*/
    /*text-align: center;*/
    z-index: 0;
    margin: 0;
}

.page-content{
    z-index: 2 !important;
}

.dimmed {
  /*position: absolute;*/
}

.dimmed:after {
  content: " ";
  z-index: -4;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(19, 14, 10, 0.9);
}

.dimmed-map{

}
.dimmed-map:after {
  content: " ";
  z-index: 0;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(19, 14, 10, 0.9);
}

form {
    position: absolute;
    top: 12%;
    z-index: 1;
    width: 20%;
    left: 40%;
}

.input-text{
    border-color: White;
    background-color: black;
    width: 100%;
    text-align: center;
}

.input-btn{
    border-color: White;
    background-color: red;
    width: 100%;
    text-align: center;
}

.vertical_line{height:150px; width:1px;background:#fff;}

/*.hrLine
{
  height:1px;
   width:150px;
  background:#fff;

      width: 100%;

  height:1px;
    width:150px;
  background:#fff;
    border-width: 2px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}*/

.desc {
    z-index: 3;
    padding: 40px 0px 0px 60px;
    position: relative;
    /*font-size: 12px !important;*/
}
.dt-pad {
    z-index: 3;
    padding: 90px 0px 0px 0px;
    position: relative;
    /*font-size: 12px !important;*/
}
.bg-img{
    background: rgba(19, 14, 10, 0.8);
    height:100px;
    width:auto;
}
.div-blank{
    z-index:10;
    background: rgba(19, 14, 10, 0);
    position:absolute;
}

/*.drop-article {
    position: absolute; 
    margin-right: -15px; 
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 400px;
    padding: 50px 0 50px 0;
    right:18.3%;
}*/
.drop-article {
    margin-left: 15%;
    left: 0px;
    z-index: 2;
    position: absolute;
    margin-right: -15px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 60%;
    padding: 50px 0 50px 0;
    right: 18.3%;
}

.drop-info{

}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 30px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(19, 14, 10, 0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 ::-webkit-scrollbar{
     max-height:1px;
 }
/* Handle */
::-webkit-scrollbar-thumb {
    
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image:url('../img/small_drop.png');
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 0 6px rgba(19, 14, 10, 0);
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}
/*::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(19, 14, 10, 0); 
    background-image:url('../img/small_drop.png');
    background-repeat: no-repeat;
}*/
/* end of scroll bar code*/
/*.pin {
    z-index: 3;
    position: relative;
    top: 105%;
    right: 15%;
}*/
.pin {
    z-index: 3;
    position: relative;
    /* top: 105%; */
    /* right: 15%; */
}

/*.pin img{

    position: relative;
    top: 121px;
    right: 242px;
}*/
.pin{
    position: absolute;
    /* top: 121px; */
    /* margin: 0% 0% 0% 0%; */
    right: 18.3%;
}
.pin img{
    position: absolute;
    right: -15px;
}


.longitude {
    position: absolute;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 185px;
    right: 18.3%;
    color: red;
}

.longitude div{
    position: absolute;
    top: -9px;
}


.latitude {
    position: absolute;
    right: 18.3%;
    color: red;
}

.latitude div {
    position: absolute;
    right: -84px;
    top: -8px;
}

.hr-bar {
    border-width: 2px;
    /* background-color: #fff; */
    opacity: 0.2;
    width: 100%;
    top: 105% !important;
    margin-bottom: 0;
}

.vr-bar {
    height: 100%;
    width: 2px;
    background-color: #fff;
    position: absolute;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    right: 18.3%;
    z-index: 2;
}

.text-color{
    color: #EEDEC3;
}
.pMargin{
    margin-bottom: 0px;
    font-size: 10;
    color: #EEDEC3
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

/*footer {
    background-color:#2d2d2d;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 88px;
    width: 100%;
    z-index: 100;
}*/
.footer-copy
{
    width: 35%;
    /*vertical-align: middle;*/
    margin: 20px auto;
}

footer {
    background-color: #000;
    height:7%;
    /* padding: 15px; */
    position: absolute;
    /* left: 0; */
     bottom: 0; 
    /* height: 88px; */
    width: 100%;
    z-index: 3;
}


@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        /*top: 50%;*/
        padding: 0px;
  /*      -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        margin-top: 600px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    /*border:1px solid #f0f0f0;*/
    border:0px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    /*border-radius: 290px;*/
    border-radius: 360px;
    font-family: "adobe-caslon-pro",serif;
    /*font-family: 'Helvetica Neue',Arial,sans-serif;*/
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

/*.longitude {
    position: absolute;
    background-color: transparent;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
     top: 105%; 
    right: 3%;
    margin: -70px -30px 0 0;
    color: red;
}*/
/*.latitude {
    margin: -9px 150px 0 0;
     position: absolute; 
    background-color: transparent;
     top: 105%; 
     right: 7%; 
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    color: red;
     align-content: flex-end; 
     text-align: right; 
}*/


/*@media(min-width: 1300px) and (max-width: 1366px){
    .pin img {
    position: absolute;
    /* top: 121px; * /
    margin: 8.8% 0% 0% 0%;
    right: 17.7%;
}
}

@media(min-width: 1200px) and (max-width: 1299px){
.pin img {
    position: absolute;
    /* top: 121px; * /
    margin: 1.3% 0% 0% 0%;
    right: 17.5%;
}
}

@media(max-width: 1230px){
.pin img {
    position: absolute;
    /* top: 121px; * /
    margin: 9.8% 0% 0% 0%;
    right: 17.7%;
}*/



    @media(min-width: 360px) and (max-width: 1200px){

    #video-background {
      position: absolute;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: 100%;
      z-index: 1;
    }

}

